@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SuperNite</h1>
    <h4>This will help you automate your install/uninstall workflow on Windows!</h4>
</div>
